* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    font-size: 62.5%; /* 1rem = 10px */
    font-family: 'Fira Code', monospace;
}

html, body {
    min-height: 100vh;
}

body {
    font-size: 1.6rem;
    background: #111111;
    color: #EAE6E5;
}

#header {
    height: 10rem;
    width: 100%;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #111111;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#logo {
    font-size: 2rem;
    font-weight: bold;
    color: #F162F8;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#logo i {
    font-size: 2.5rem;
}

#btn-mobile {
    display: none;
}

#menu {
    display: flex;
    list-style: none;
    gap: 1rem;
}

#menu a {
    display: block;
    padding: 1rem;
}

a {
    color: #EAE6E5;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 0.2rem solid transparent;
}

#menu a:hover {
    color: #F162F8;
    font-weight: bold;
    border-bottom: 0.2rem solid;
}

.container {
    height: 75vh;
    padding: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.title {
    display: flex;
    padding: 10rem 5rem 0rem 5rem;
    align-items: center;
    color: #EAE6E5;
}

.title #line {
    height: 1%;
    width: 100%;
    margin-left: 1rem;
    border: 0.1rem solid #F162F8;  
}

#home {
    height: 90vh;
    text-align: center;
}


#home img {
    height: 45rem;
    width: 45rem;
}

#home h1 {
    color: #F162F8;
    font-size: 4.5rem;
    padding-bottom: 0.5rem;
}

#home h2 {
    color: #EAE6E5;
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}

#home #info-contact {
    margin: 3rem 5rem 0rem 5rem;
    display: flex;
    justify-content: space-around;
    
}

#home a:hover {
    color: #F162F8;
    font-weight: bold;
}

#home i {
    font-size: 4rem;
}

#projects{
    height: 150vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.prjc {
    padding: 2.5rem;
    margin-bottom: 2.5rem;
    font-weight: 500;
    border: 0.2rem solid #EAE6E5; 
}

.prjc p {
    padding: 1rem 0rem;
}

.prjc-text h3 {
    border-top: 0.2rem solid #EAE6E5;
    padding-top: 1rem;
    color: #EAE6E5;
}

.prjc-text p {
    padding-bottom: 2rem;
}

.prjc-text a {
    padding: .5rem;
    color: #EAE6E5;
    font-weight: bold;
    border: 0.2rem solid #F162F8;
}

.prjc-text a:hover {
    font-weight: bold;
    color: #111111;
    background: #F162F8;
}


#about img {
    height: 30rem;
    width: 30rem;
    transform: scaleX(-1);
}

#about p {
    margin: 1rem;
}

#about #info-contact {
    margin: 5rem 7rem 0rem 7rem;
    display: flex;
    justify-content: space-around;
    
}

#info {
    width: 55%;
}

#about a:hover {
    color: #F162F8;
    font-weight: bold;
}

#about i {
    font-size: 5rem;
}


#skills {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#skills .languages {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

#skills .languages i {
    font-size: 10rem;
}

#skills .languages P {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;  
}

.languages button {
    background: none;
    cursor: pointer;
    border: none;
    color: #EAE6E5;
    
}

#java button :hover {
    color: #ea2d2e;
}
#spring button :hover {
   color: #5fb832; 
}

#html button :hover {
    color: #e54d26;
}
#css button :hover {
    color: #3d8fc6;
}
#js button :hover {
    color: #f0db4f;
}
#react button :hover {
    color: #61dafb;
}


footer{
    text-align: center;
    padding: 1rem;
    border-top: 0.15rem solid;  
}

::-webkit-scrollbar{
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
  }

::-webkit-scrollbar-thumb{
    background: #F162F8;
}

@media (max-height: 800px){
    #projects {
        height: 100vh; 
    }
}

@media (max-width: 900px){
    #projects {
        height: 200vh; 
    }
}

@media (max-width: 800px){
    #menu {
        display: block;
        background: #111111;
        position: absolute;
        width: 35%;
        top: 10rem;
        right: 0;
        height: 0;
        transition: .7s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 10rem);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 2rem 2.5rem;
        border-bottom: 0.2rem solid;
    }
    
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 3rem;
        border: none;
        background: none;
        cursor: pointer;
        color: #F162F8;
    }

    #home img {
        height: 30rem;
        width: 30rem;
    }

    #about {
        display: flex;
        flex-direction: column;
        text-align: justify;
    }

    #about #img-contacts {
        padding-top: 10rem;
    }

    #about #info-contact {
        margin: 2.5rem 7rem 2.5rem 7rem;
    }

    #about #info {
        width: 75%;
    }

    #skills{
        height: 100vh; 
    }

}

@media (max-width: 600px){
    #home img {
        display: none;
     }

    #projects {
        height: 100vh; 
    }

    #about {
        height: 100vh;
    }

    #about img {
        height: 25rem;
        width: 25rem;
    }

    #about #info {
        width: 100%;
    }

    #skills{
        height: 150vh; 
    }

    #skills .languages {
        padding: 2.5rem;
    }

    #skills .languages i {
        font-size: 7rem;
    }

}
